@using Zork_BR.Models
@model Zork_BR.ViewModels.HelpViewModel

@{
    ViewBag.Title = "Help";
}
<div>
    <h2>@ViewBag.Title</h2>

    <pre id="commands"> You are on an island in the middel of nowhere with 99 others. Your job? survive.
- For all Commands use the help command
- Succesfull running away from enemies differs on the type of enemy. Be carefull whom you run away from!</pre>
</div>

<div>
    <h3>Full map</h3>
    <table id="fullMap">
        @Html.Raw(Model.GetMap)
    </table>
</div>
