@using Zork_BR.Models
@model Zork_BR.Models.Story

@{
    ViewBag.Title = "Nama";
}   
    <div>
        <pre class="textField" id="textField">
@Model.MyStory
        </pre>
    </div> 
    
    <div class="navbar-fixed-bottom">
        <form action='@Url.Action("Index","Home")' method="post" autocomplete="off">
            <button type="submit" id="sendBtn" class="btn btn-primary">Send</button>
            <input id="inputField" name="input" type="text" class="form-control" autofocus />
            @Html.Hidden("id", Model.Id)
        </form>
    </div>