@{
    ViewBag.Title = "Nama";
    var message = "";
    if (IsPost)
    {
        message = Request["input"];
    }
}

    <div class="textField" id="textField">
        @message
    </div>
    <div class="navbar-fixed-bottom">
        <form action="" method="post" autocomplete="off">
            <button type="submit" id="sendBtn" class="btn btn-primary">Send</button>
            <input id="inputField" name="input" type="text" class="form-control" autofocus />
        </form>
    </div>