@{
    ViewBag.Title = "Nama";
}

    <div class="textField" id="textField">
        This is the field where the text is supposed to be
    </div>
    <div class="textInput navbar-fixed-bottom">
        <button id="sendBtn" class="btn btn-primary">Send</button>
        <input id="inputField" type="text" class="form-control" autofocus/>
    </div>
