pre {
    border: 0;
    background-color: #000;
    padding: 0;
    white-space: pre-wrap;
    word-break: normal;
    float: left;

}

#playerCel{
    position: relative;
    color: red;
}

span{
    position: absolute;
    margin-top: -25px;
    margin-left: -6px;
}

#minimap{
    float: right;
    margin: auto;
    padding: 10px;
}

body {
    background-color: #000;
    width: auto;
    height: 100vh;
    font-family: monospace;
}

form {
    display: inline-flex;
    width: 100%;
    padding-bottom: 1px;
}

.textField {
    color: #00FF00;
    max-height: 89vh;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
}

#gamescreen{
    width: auto;
    padding-top: 10px;
}

#sendBtn {
    background-color: #000;
    color: #00FF00;
    border-color: #00FF00;
}

#sendBtn:focus {
    outline: none;
}

#sendBtn:hover {
    background-color: #00FF00;
    color: #000;
}

#inputField {
    background-color: #000;
    border-color: #00FF00;
    color: #00FF00;
}


.navbar-brand {
    font-size: 24px;
}

.navbar-nav li a{
    padding-top: 18px;
    padding-bottom: 12px;
}

.tableCel {
    border: 2px solid #00FF00;
    width: 32px;
    height: 32px;
    text-align: center;
    color: #00FF00;
}
